/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: 'Lato', sans-serif;
  background-color: #2b2d42;
  
}

.centered {
  text-align: center;
  margin-top: 50px;
  
}

/* Form styling */
#form-container {
  margin: 0 auto;
  width: 60%;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

#search {
  width: 40%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #001182;
  margin-top: 50px;
  margin-bottom: 50px;

}

.text-search{
  font-size: 20px;
  margin-top: 15px;
}
.location-button {
  background-color: #00000080;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 60px
}



/* Temperature display */
#temperature {
  font-size: 48px;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
}

/* Weather info */
#city {
  font-size: 34px;
  margin-top: 20px;
  color: #fff;
}

h6{
  color: #fff;
}


#weatherInfo {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

#feeling, #humidity, #wind {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

/* Switch styling */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(255, 255, 255, 0.504);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3498db;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  #form-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0px;
  }


  
  #temperature {
    font-size: 36px;
  }
  
  #city {
    font-size: 20px;
  }
  #search {
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
    margin-bottom: 50px;
  
  }
  

  #feeling, #humidity, #wind {
    text-align: center;
    font-size: 15px
    
  }
}
